
body {
    background-image: url("background/D2_StartScreen_01_4k_fullHD.png");
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1920px 1080px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    align-items: center;
    position: relative;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.magnetic-element {
    transition: transform 0.3s ease;
  }

/* .arrows {
    background-image: url("background/T_D2_StartScreen_02_4k_Arrows.png");
    animation-name: spin;
    animation: spin 450s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
}

.static-rectangles {
    background-image: url("background/T_D2_StartScreen_Static_Rectangles.png");
}

.anim-circle-sm {
    background-image: url("background/T_D2_StartScreen_Anim_Circle_Small.png");
    animation-name: spin;
    animation: spin 450s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
} */

.dec {
    position: fixed;
    height: 8300px;
    width: 8300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    will-change: transform;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.context-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
}

.context-menu button {
    display: block;
    padding: 5px 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
}

.context-menu button:hover {
    background-color: #ddd;
}

#availablePlayers > div {
    /* background-color: rgba(92, 92, 92, 0.10); */
    backdrop-filter: blur(0.8px);
}

#availablePlayers {
    /* background-color: rgba(92, 92, 92, 0.15); */
    backdrop-filter: blur(0.8px);
    padding: 5px 10px;
}



.text-h2 {
    color: rgba(17, 34, 62, 0.6);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.availablePlayers-container > * {
    padding: 0 10px;
}

.dec-container + #searchPlayerInput, 
#searchPlayerInput + #availablePlayers, 
#availablePlayers + .addPlayer,
.addPlayer + #playerBaseInput,
#teamA + .avgKD, #teamB + .avgKD  {
    margin-top: 4px;
}

#playerBaseInput, #searchPlayerInput {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    display: flex;
    background-color: rgba(92, 92, 92, 0.25);
    border: 1px #000 solid;
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.7px);
    min-height: 40px;
    box-shadow: inset 0px 0px 2px 0px rgb(0 0 0 / 20%);
}

#playerBaseInput {
    border-radius: 0;
    border: 1px solid rgb(0, 0, 0, 0.1); 
    width: 394px;
    overflow: hidden;
    outline: none;
}

#searchPlayerInput {
    text-align: center;
    width: 384px;
    padding: 0 7px;
    border: 1px solid rgb(0, 0, 0, 0.1); 
    outline: none;
}

#searchPlayerInput::placeholder {
    color: rgba(255, 255, 255, 0.7);  
}

/* .teams {
    background-color: #738EA7;
} */

.kdDifferenceDisplay-error {
    color: red;
}

.addPlayer {
    max-width: 400px;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
}



.addPlayer-item {
    outline: none;
    text-align: center;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    border: 1px #0000002a solid;
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.7px);
    max-height: 40px;
    box-shadow: inset 0px 0px 2px 0px rgb(0 0 0 / 20%);
    color: #fff;
}


.addPlayer-item + .addPlayer-item {
    margin-left: 1px;
    width: 50px;
}

.addPlayer > input {
    background-color: rgba(92, 92, 92, 0.25);
    
}

.addPlayer > button {
    background-color: #A5A5A5;
    color: #111;
    cursor: pointer;
    font-weight: 500;
}

.team {
    /* height: 480px; */
    width: 400px;
    /* background-color: #A77373; */
}

.team-wrapper {
    display: flex;
    /* background-image: url("fullhd.png"); */
    background-attachment: fixed;
    background-position: center;
}

.team + .team {
    margin-left: 50px;
}

.availablePlayers-container + .teams {
    margin-left: 100px;
}

.wrapper {
    display: flex;
}

.tools-btn-container {
    display: inline;
    position: relative;
}

.radio-btn-dec {
    position: absolute;
    display: flex;
    max-width: 80px;
    max-height: 80px;
    background-color: red;
    top: 0px;
    border: 5px solid blue;
}

.tools2btn:hover, .addPlayer > button:hover {
    background-color: #c2c2c2;
}

.tools-btn-wrapper +.tools-btn-wrapper, .tools-btn-slider-wrapper +.tools-btn-wrapper {
    margin-top: 40px;
}

.tools-btn-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.tools-btn-container + .tools-btn-container {
    margin-left: 40px;
}

.tools-btn-slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
}

.slider-container {
    position: relative;
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
}

.kdDiffSlider-container {
    text-align: center;
    width: 300px;
    position: relative;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, #f0f0f0 50%, hsl(44, 90%, 70%) 50%);
    outline: none;
    border: 1px solid black;
    position: relative;
    z-index: 1;
    margin: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2px;
    height: 30px;
    background-color: #333;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border-radius: 0px;
}

input[type=range]::-moz-range-thumb {
    width: 3px;
    height: 30px;
    background-color: #333;
    cursor: pointer;
    border-radius: 0px;
}

.slider-text {
    position: absolute;
    top: 25px;
    right: 125px;
    z-index: 3;
    font-size: 16px;
    color: black;
    padding: 0 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.tools-btn {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    background-color: #A5A5A5;
    cursor: pointer;
}

#btnTrials, #btnCrucible {
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
}

#btnTrials {
    background-image: url('emblem_osiris.png');
    background-size: 70px;
    background-color: #FFD45E;
}

#btnCrucible {
    background-image: url('emblem_crucible.png');
    background-size: 65px;
    background-color: #FF4646;
}

#btnTrials.checked {
    background-color: hsl(44, 90%, 70%);
}

#btnCrucible.checked {
    background-color: hsl(0, 100%, 70%);
}


.dec-container_s {
    height: 3px;    
}

.dec-container_b {
    height: 21px;    
}

.dec-color_avl-pl_s {
    background-color: #342E36;
}

.dec-color_avl-pl_b {
    background-color: #A7A896;
}
.dec-color_alpha_s {
    background-color: #8CB88E;
}
.dec-color_alpha_b {
    background-color: #11223E;
}
.dec-color_bravo_s {
    background-color: #2F2F39;
}
.dec-color_bravo_b {
    background-color: #C94B22;
}

#availablePlayers {
    width: 400px;
    height: 600px;
    max-height: 700px;
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


#availablePlayers::-webkit-scrollbar {
    display: none;
}

.kd-trials, .kd-crucible {
    display: block;
    width: 40px;
}

.player-card + .player-card, .slot + .slot, .player-card + .slot {
    margin-top: 8px;
}

.player-card, .avgKD {
    display: flex;
    align-items: center;
    background-color: rgba(92, 92, 92, 0.25);
    backdrop-filter: blur(0.8px);
    
    color: #FFFFFF;
}

.player-card {
    position: relative;
    cursor: pointer;
    max-width: 400px;
    max-height: 40px;
    overflow: visible;
    z-index: 1;
    background-color: rgba(92, 92, 92, 0.25);
    border: 0px solid white;
}

.player-card::before {
    content: '';
    position: absolute;
    opacity: 0;
    z-index: 1; 

    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;

    border: 0px solid rgb(255, 0, 0);
}

.player-card.locked {
    background-color: rgb(0 0 0 / 25%);
}

.player-card::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    opacity: 0;
    z-index: -1; 
}

.player-card.anim-none::after,
.player-card.anim-none::before {
    opacity: 0 !important;
}

.animate-border-fade-in::before {
    animation: BorderTopFadeInUp 0.05s forwards;
}

.animate-border-fade-out::before {
    animation: BorderTopFadeOutDown 0.5s forwards;
}

@keyframes BorderTopFadeInUp {
    0% {
        opacity: 1;
        border-top: 0px solid rgba(255, 255, 255, 0.5);
        z-index: 0;
    }
    10% {
        z-index: 100;
    }
    100% {
        border-top: 42px solid rgba(255, 255, 255, 0.5);
        opacity: 1;
        z-index: 100;
    }
}

@keyframes BorderTopFadeOutDown {
    0% {
        opacity: 1;
        border-top: 42px solid rgba(255, 255, 255, 0.5);
        z-index: 100;
    }
    100% {
        border-top: 0px solid rgba(255, 255, 255, 0.5);
        opacity: 1;
        z-index: 0;
    }
}

@keyframes BorderFadeInUp {
    0% {
        opacity: 0;
        border: 0px solid white;
    }
    100% {
        border: 2px solid white;
        opacity: 1;
    }
}

@keyframes BorderFadeOutDown {
    0% {
        border: 2px solid white;
        opacity: 1;
    }
    100% {
        opacity: 0;
        border: 0px solid white;
    }
  }
    
@keyframes fadeInUp {
    0% {
        opacity: 0;
        border: 8px solid white;
        background-color: rgba(92, 92, 92, 0.25);
        transform: scale(1.05, 1.405);
    }
    50% {
        opacity: 0.2;
        border: 5px solid white;
        background-color: rgba(255, 255, 255, 0.25);
    }
    100% {
        border: 4px solid white;
        background-color: rgba(255, 255, 255, 0.25);
        opacity: 1;
        transform: scale(1.005, 1.05);
    }
}

@keyframes fadeOutDown {
    0% {
        border: 4px solid white;
        background-color: rgba(255, 255, 255, 0.25);
        opacity: 1;
        transform: scale(1.0, 1.0);
    }
    50% {
        opacity: 0.01;
        border: 5px solid white;
        background-color: rgba(255, 255, 255, 0.25);
        transform: scale(1.025, 1.205);
    }
    100% {
        opacity: 0;
        border: 0px solid white;
        background-color: rgba(92, 92, 92, 0.25);
        transform: scale(0, 0);

    }
  }




.player-card.border-fade-in::before {
    animation: BorderTopFadeInUp 0.5s forwards;
}

.player-card.border-fade-out::before {
    animation: BorderTopFadeOutDown 0.5s forwards;
}

  
  
  .player-card:hover::after {
    animation: fadeInUp 0.3s forwards;
  }
  
  .player-card::after {
    animation: fadeOutDown 0.5s forwards;
  }
 
  .player-card:hover::before {
    animation: BorderFadeInUp 0.06s forwards;
  }
  
  .player-card::before {
    animation: BorderFadeOutDown 0.105s forwards;
  }

.slot {
    max-width: 400px;
    background-image: url('img/button/T_Rect.png');
    height: 40px;
    max-height: 40px;
    display: flex;
    visibility: visible;  
    flex-direction: column;
    opacity: 0.5;
}

.slot-dec-container {
    width: 400px;
}

.slot-dec-container + .slot-dec-container {
    margin-top: auto;
}

.slot-dec-bl, .slot-dec-br, 
.slot-dec-tl, .slot-dec-tr {
    height: 10px;
    width: 10px;
}

.slot-dec-tl {
    background-image: url('img/button/T_Top_Left.png');
    float: left;
}

.slot-dec-tr {
    background-image: url('img/button/T_Top_Right.png');
    float: right;
}

.slot-dec-bl {
    background-image: url('img/button/T_Bottom_Left.png');
    float: left;
}

.slot-dec-br {
    background-image: url('img/button/T_Bottom_Right.png');
    float: right;
}

.slot.filled {
    visibility: hidden;
    border: none;
}

.avgKD {
    max-width: 400px;
    max-height: 20px;
}

.avgKD-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: 40px;
    text-align: center;
}

.player-card button {
    width: 40px;
}

.player-avatar {
    height: 40px;
    width: 40px;
    background-color: #738EA7;
    grid-area: a;
    float: left;
}

.player-avatar-blue {
    background-color: #738EA7;
}

.player-avatar-red {
    background-color: #A77373;
}

.player-info {
    grid-area: n;
}

.player-decoration, .player-decoration-s {
    width: 2px;
    background-color: rgba(53, 53, 53, 0.5);
    /* opacity: 0.5; */
    height: 40px;
}

.player-decoration {
    height: 40px;
}

.player-decoration-s {
    height: 20px;
}

.player-name {
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 10px;
}

.player-clan {
    color: #ffffff;
    font-size: 14px;
    opacity: 0.5;
    
}

.player-kd {
    align-items: center;
    height: inherit;
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.player-kd span {
    text-align: center;
}

.player-switch {
    align-content: center;
    height: 40px;
    width: 40px;
    float: right;
    grid-area: b;
    text-align: center;
}

.switch-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: #555;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    overflow: visible;
    z-index: 1;
}

.switch-btn:hover {
    color: #333;
    background-color: rgba(255, 255, 255, 0.25);
}